@model personalBlogSolution.ViewModels.System.Users.UserUpdatePasswordRequest

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Change password
                    <small class="text-muted">Welcome to Compass</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Compass</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">User</a></li>
                    <li class="breadcrumb-item active">Change password</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Change Password</strong> <small>Change password for user</small> </h2>                        
                    </div>
                    <div class="body">
                        <form asp-action="ChangePassword">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input asp-for="Id" type="text" class="form-control" hidden="hidden"/>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="UserName" disabled="disabled"  type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Enter old password..."/>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Enter new password..."/>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input -->
    </div>
</section>

@section Scripts {
    
    <script src="~/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
    <script src="~/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
    
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob Plugin Js -->
    
    <script src="~/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="~/js/pages/charts/jquery-knob.js"></script>
}
