@model personalBlogSolution.ViewModels.System.Users.UserUpdateRequest

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Update User
                    <small>Update a <a href="https://jqueryvalidation.org/" target="_blank">user</a></small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Compass</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">User</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Update</strong> User</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a asp-action="Index" asp-controller="User">Manage</a></li>
                                    <li><a asp-action="Index" asp-controller="Home">Go to home</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form id="form_validation" asp-action="Edit">
                            <!--First name-->
                            <div class="form-group form-float">
                                <input type="text" class="form-control" placeholder="Firstname" asp-for="FirstName" required>
                            </div>
                            <!--Last name-->
                            <div class="form-group form-float">
                                <input type="text" class="form-control" placeholder="Lastname" asp-for="LastName" required>
                            </div>
                            <!--Date of birth-->
                            <div class="form-group form-float">
                                <input type="text" class="form-control datetimepicker" asp-for="Dob" placeholder="Please choose date & time..." required>
                            </div>
                            <!--Email-->
                            <div class="form-group form-float">
                                <input type="email" class="form-control" placeholder="Email" asp-for="Email" required>
                            </div>
                            <!--Phone number-->
                            <div class="form-group form-float">
                                <input type="number" class="form-control" placeholder="Phone number" asp-for="PhoneNumber" required>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="checkbox" type="checkbox">
                                    <label for="checkbox">I have read and accept the terms</label>
                                </div>
                            </div>
                            <button class="btn btn-raised btn-primary btn-round waves-effect" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->
    </div>
</section>

@section Scripts {
    <script src="~/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) --> 
    <script src="~/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/bundles/footable.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/js/pages/tables/footable.js"></script><!-- Custom Js -->
}